/* You can add global styles to this file, and also import other style files */
/* General Reset */
* {
  margin: 0;
  padding: 0;
}
/* Font Classes */
@font-face {
  font-family: Whyte-Regular;
  src: url(./assets/fonts/Whyte/Whyte-Regular.otf);
}

/* Body Base */
body {
  font-family: Whyte-Regular;
  background-color: #e5e5e5;
  color: #343f43;
  font-style: normal;
  font-weight: normal;
  line-height: 112%;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0;
  display: block;
}

/* Paragraph */
p {
  margin-bottom: 0.4rem;
  display: block;
}

/* Margin and Padding */
.bankos-m-0 {
  margin: 0 !important;
}

.bankos-mt-0,
.bankos-my-0 {
  margin-top: 0 !important;
}

.bankos-mr-0,
.bankos-mx-0 {
  margin-right: 0 !important;
}

.bankos-mb-0,
.bankos-my-0 {
  margin-bottom: 0 !important;
}

.bankos-ml-0,
.bankos-mx-0 {
  margin-left: 0 !important;
}

.bankos-m-1 {
  margin: 0.25rem !important;
}

.bankos-mt-1,
.bankos-my-1 {
  margin-top: 0.25rem !important;
}

.bankos-mr-1,
.bankos-mx-1 {
  margin-right: 0.25rem !important;
}

.bankos-mb-1,
.bankos-my-1 {
  margin-bottom: 0.25rem !important;
}

.bankos-ml-1,
.bankos-mx-1 {
  margin-left: 0.25rem !important;
}

.bankos-m-2 {
  margin: 0.5rem !important;
}

.bankos-mt-2,
.bankos-my-2 {
  margin-top: 0.5rem !important;
}

.bankos-mr-2,
.bankos-mx-2 {
  margin-right: 0.5rem !important;
}

.bankos-mb-2,
.bankos-my-2 {
  margin-bottom: 0.5rem !important;
}

.bankos-ml-2,
.bankos-mx-2 {
  margin-left: 0.5rem !important;
}

.bankos-m-3 {
  margin: 1rem !important;
}

.bankos-mt-3,
.bankos-my-3 {
  margin-top: 1rem !important;
}

.bankos-mr-3,
.bankos-mx-3 {
  margin-right: 1rem !important;
}

.bankos-mb-3,
.bankos-my-3 {
  margin-bottom: 1rem !important;
}

.bankos-ml-3,
.bankos-mx-3 {
  margin-left: 1rem !important;
}

.bankos-m-4 {
  margin: 1.5rem !important;
}

.bankos-mt-4,
.bankos-my-4 {
  margin-top: 1.5rem !important;
}

.bankos-mr-4,
.bankos-mx-4 {
  margin-right: 1.5rem !important;
}

.bankos-mb-4,
.bankos-my-4 {
  margin-bottom: 1.5rem !important;
}

.bankos-ml-4,
.bankos-mx-4 {
  margin-left: 1.5rem !important;
}

.bankos-m-5 {
  margin: 3rem !important;
}

.bankos-mt-5,
.bankos-my-5 {
  margin-top: 3rem !important;
}

.bankos-mr-5,
.bankos-mx-5 {
  margin-right: 3rem !important;
}

.bankos-mb-5,
.bankos-my-5 {
  margin-bottom: 3rem !important;
}

.bankos-ml-5,
.bankos-mx-5 {
  margin-left: 3rem !important;
}

.bankos-p-0 {
  padding: 0 !important;
}

.bankos-pt-0,
.bankos-py-0 {
  padding-top: 0 !important;
}

.bankos-pr-0,
.bankos-px-0 {
  padding-right: 0 !important;
}

.bankos-pb-0,
.bankos-py-0 {
  padding-bottom: 0 !important;
}

.bankos-pl-0,
.bankos-px-0 {
  padding-left: 0 !important;
}

.bankos-p-1 {
  padding: 0.25rem !important;
}

.bankos-pt-1,
.bankos-py-1 {
  padding-top: 0.25rem !important;
}

.bankos-pr-1,
.bankos-px-1 {
  padding-right: 0.25rem !important;
}

.bankos-pb-1,
.bankos-py-1 {
  padding-bottom: 0.25rem !important;
}

.bankos-pl-1,
.bankos-px-1 {
  padding-left: 0.25rem !important;
}

.bankos-p-2 {
  padding: 0.5rem !important;
}

.bankos-pt-2,
.bankos-py-2 {
  padding-top: 0.5rem !important;
}

.bankos-pr-2,
.bankos-px-2 {
  padding-right: 0.5rem !important;
}

.bankos-pb-2,
.bankos-py-2 {
  padding-bottom: 0.5rem !important;
}

.bankos-pl-2,
.bankos-px-2 {
  padding-left: 0.5rem !important;
}

.bankos-p-3 {
  padding: 1rem !important;
}

.bankos-pt-3,
.bankos-py-3 {
  padding-top: 1rem !important;
}

.bankos-pr-3,
.bankos-px-3 {
  padding-right: 1rem !important;
}

.bankos-pb-3,
.bankos-py-3 {
  padding-bottom: 1rem !important;
}

.bankos-pl-3,
.bankos-px-3 {
  padding-left: 1rem !important;
}

.bankos-p-4 {
  padding: 1.5rem !important;
}

.bankos-pt-4,
.bankos-py-4 {
  padding-top: 1.5rem !important;
}

.bankos-pr-4,
.bankos-px-4 {
  padding-right: 1.5rem !important;
}

.bankos-pb-4,
.bankos-py-4 {
  padding-bottom: 1.5rem !important;
}

.bankos-pl-4,
.bankos-px-4 {
  padding-left: 1.5rem !important;
}

.bankos-p-5 {
  padding: 3rem !important;
}

.bankos-pt-5,
.bankos-py-5 {
  padding-top: 3rem !important;
}

.bankos-pr-5,
.bankos-px-5 {
  padding-right: 3rem !important;
}

.bankos-pb-5,
.bankos-py-5 {
  padding-bottom: 3rem !important;
}

.bankos-pl-5,
.bankos-px-5 {
  padding-left: 3rem !important;
}
/* bankos Grid Style*/
// bankos Responsive Containers
.bankos-container {
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.bankos-row {
  display: flex;
  flex-wrap: wrap;
}
// bankos Responsive columns
.bankos-col-1,
.bankos-col-2,
.bankos-col-3,
.bankos-col-4,
.bankos-col-5,
.bankos-col-6,
.bankos-col-7,
.bankos-col-8,
.bankos-col-9,
.bankos-col-10,
.bankos-col-11,
.bankos-col-12,
.bankos-col {
  position: relative;
  width: 100%;
}

.bankos-col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.bankos-col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.bankos-col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.bankos-col-2-5 {
  -ms-flex: 0 0 20.5%;
  flex: 0 0 20.5%;
  max-width: 20.5%;
}
.bankos-col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.bankos-col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.bankos-col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.bankos-col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.bankos-col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.bankos-col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.bankos-col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.bankos-col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.bankos-col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.bankos-col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.bankos-button-container {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 38.666667%;
  padding-right: 32px;
}

.hide {
  display: none !important;
}
//--------------------------------Button Style-------------------------------
.bankos-button {
  background: #19a0db;
  border-radius: 10px;
  align-self: center;
  color: #ffffff;
  padding: 14px 32px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}
.bankos-edit-button {
  font-size: 12px;
  background-color: #e5e5e5;
  color: #343f43;
  opacity: 0.8;
  border: 1px solid #343f43;
}
.bankos-search-button {
  font-size: 12px;
}
.bankos-add-button {
  width: 80%;
  font-size: 12px;
}
.bankos-approve-button {
  font-size: 12px;
  background-color: #73dfab;
}
.bankos-reject-button {
  font-size: 12px;
  background-color: #ff8087;
}
.bankos-danger-button {
  background-color: #ff8087;
}
.bankos-success-button {
  background-color: #73dfab;
}
.bankos-search-button img {
  padding-right: 10px;
}
.bankos-add-button img {
  padding-right: 10px;
}
.bankos-edit-button img {
  padding-right: 25px;
}
.bankos-save-button {
  width: 80%;
  margin: auto;
  margin-right: 15px;
  float: right;
  background: #19a0db;
  margin-top: 8px;
}
.bankos-step-button {
  background: #ffffff;
  color: #747779;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
  margin-right: 8px;
  margin-top: 8px;
}
.bankos-step-button-isActive {
  background: #19a0db;
  color: #ffffff;
}
.bankos-save-button img {
  padding-right: 10px;
}
.bankos-add-step-button {
  margin-top: 8px;
  color: #000000;
  border: 2px dashed rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.5;
  background: #e5e5e5;
}
.bankos-title-button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding-top: 30px;
  padding-right: 8px;
}
.bankos-delete-button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding-top: 30px;
  padding-left: 8px;
}
//--------------------------------Side Menu Style-------------------------------

.bankos-sidebar-card {
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;
  width: 80%;

  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.bankos-sidebar-item {
  color: #343f43;
  opacity: 0.8;
  font-size: 14px;
  display: block;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(52, 63, 67, 0.08);
}
.bankos-sidebar-item-count {
  font-weight: 300;
  font-size: 12px;
  float: right;
  /*  padding-right: 24px; */
}
.bankos-sidebar-item i {
  position: relative;
  top: 3px;
  padding-right: 14px;
}
.bankos-text-icon {
  top: 1px !important;
}
.bankos-textarea-icon {
  top: 6px !important;
}
.bankos-bold {
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 125% !important;
  width: 340px;
  color: #343f43;
}
//--------------middle pannel-------------

.bankos-middle-card-title {
  margin: auto;
  width: 95.6%;
  /*   height: 104px; */
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 16px !important;
}
.bankos-middle-item-title {
  padding: 16px;
  background: rgba(232, 234, 235, 0.2);
}
.bankos-middle-card {
  margin: auto;
  width: 95.6%;
  min-height: 740px;
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
}

.bankos-middle-item {
  margin-bottom: 16px;
  margin-left: 16px !important;
  margin-right: 16px !important;
  color: #343f43;
  font-size: 14px;
  display: block;
  height: auto;
  text-decoration: none;
  padding-left: 24px;
  padding-bottom: 18px;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  padding-top: 18px;
  background: rgba(232, 234, 235, 0.2);
  border-radius: 8px;
}
.bankos-middle-item-count {
  float: right;
  position: relative;
  top: 4px;
  padding-top: 0px;
  padding-right: 24px;
}

.bankos-middle-item i {
  position: relative;
  top: 4px;
  padding-right: 18px;
}
.bankos-label {
  font-size: 16px;
  line-height: 118.5%;
  color: #343f43;
}
//--------------------------------nav-secondary Style-------------------------------
.bankos-nav-secondary {
  font-size: 18px;
  opacity: 0.8;
}
//--------------------------------tab-filter Style-------------------------------
.bankos-tab-filter {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}
.bankos-tab-filter ul li {
  position: relative;
  display: inline-block;
  padding: 14px 32px;
  cursor: pointer;
  font-size: 12px;
  background: #ffffff;
  border-right: 1px solid rgba(52, 63, 67, 0.08);
}

.bankos-tab-filter-left-radius {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.bankos-tab-filter-right-radius {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.bankos-tab-filter-isActive {
  color: #ffffff;
  background: #19a0db !important;
}

.bankos-tab-filter-item-count {
  padding-right: 32px;
  padding-left: 8px;
  padding-right: 0px;
  opacity: 0.6;
}
.bankos-tab-filter button {
  align-content: flex-end;
}
.bankos-right-align {
  text-align: right;
}
.bankos-float-right {
  float: right;
}
//--------------------------------table Style-------------------------------
.bankos-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
  text-align: left;
}
.bankos-table-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.bankos-my-custom-scrollbar {
  // position: relative;
  max-height: 650px;
  overflow: auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.bankos-my-custom-scrollbar::-webkit-scrollbar {
  display: none;
  /*   border-left: 1px solid black; */
}

/* Hide scrollbar for IE, Edge and Firefox */
/* .my-custom-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    } */
.bankos-table td {
  padding: 25px 37px;
  font-size: 14px;
  max-width: 100px;
  word-wrap: break-word;
}
.bankos-table th {
  padding: 16px 37px;
  font-size: 14px;
  opacity: 0.7;
  background: rgba(232, 234, 235, 0.56);
  position: sticky;
  top: 0;
  max-width: 100px;
}
.bankos-table thead {
  height: 46px;
}
.bankos-table tbody tr:nth-child(even) {
  background-color: rgba(232, 234, 235, 0.2);
}
.bankos-table tbody tr {
  cursor: pointer;
  height: 72px;
}

.bankos-short-name {
  border-radius: 50%;
  background-color: #42c1c6;
  color: #ffffff;
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
}
.bankos-table-column-name {
  font-size: 16px;
  font-weight: 500;
  /*  width: 25%; */
}
.bankos-table-column-date {
  opacity: 0.5;
}
.bankos-table-column-status {
  opacity: 0.8;
}
.bankos-table th img {
  margin-left: 10px;
}
.bankos-table th img:hover {
  background-color: #42c1c6;
  cursor: pointer;
}
//--------------------newly added library style style-----------------
.gridster {
  background: #e5e5e5;
  padding: 0px !important;
  padding-top: 12px !important;
  width: 100%;
  height: 1000px;
  margin: auto;
  margin-top: 55px;
  padding-top: 30px;
  border-radius: 5px;
}
.gridster.display-grid .gridster-column,
.gridster.display-grid .gridster-row {
  display: none !important;
}
.widgetsTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 113%;
  padding: 25px;
}
.text-success {
  color: blue;
}
gridster-item {
  border-radius: 10px;
}
.bankos-table th {
  background: rgba(232, 234, 235, 0.2);
}

//------------------MENU HEADER TEMPPPP can be removed when put into bankos------------------------
.bankos-header {
  overflow: hidden;
  background-color: #fff;
  padding: 20px 10px 20px 100px;
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 12px 12px;
}

.bankos-header-right {
  float: right;
  padding: 00px 20px 0px 0px;
  align-content: center;
}

//----------------------Bankos Pagination-----------------
.bankos-custom-pagination {
  display: inline-flex;
}
.bankos-custom-pagination .bankos-page-number {
  text-decoration: none;
  position: relative;
  color: #747779;
  background: #e8eaeb;
  padding: 14px 14px;
  font-size: 14px;
}

.bankos-page-number.bankos-current span {
  background-color: #19a0db !important;
  color: white !important;
  border-radius: 50px;
  padding: 10px 14px;
}

.bankos-page-number span {
  cursor: pointer;
}

.bankos-pagination-previous {
  text-decoration: none;
  position: relative;
  color: #747779;
  background: #e8eaeb;
  padding: 14px 14px;
  font-size: 14px;
  cursor: pointer;
  padding-left: 30px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.bankos-pagination-next {
  text-decoration: none;
  position: relative;
  color: #747779;
  background: #e8eaeb;
  padding: 14px 14px;
  font-size: 14px;
  cursor: pointer;
  padding-right: 30px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
//-----------------------dropdown-----------
.bankos-dropbtn {
  background: #e5e5e5;
  padding: 5px 15px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  text-align: right;
  color: #343f43;
  opacity: 0.8;
  font-family: Whyte-Regular;
  cursor: pointer;
  appearance: none;
  /*   background-image: url("assets/icons/select-arrow.png"); */
  background-repeat: no-repeat;
  background-position: right 0px top 50%;
}
.bankos-curser {
  cursor: pointer;
}
.bankos-dropup {
  position: relative;
  display: inline-block;
}

.bankos-dropup-content {
  display: none;
  position: absolute;
  background: #ffffff;
  min-width: 155px;
  bottom: 24px;
  z-index: 1;
  text-align: center;
  font-family: Whyte-Regular;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.bankos-dropup-content a {
  color: #343f43;
  padding: 9px 24px;
  opacity: 0.8;
  text-decoration: none;
  display: block;
}

.bankos-dropup-content a:hover {
  background-color: #ccc;
}

.bankos-dropup:hover .bankos-dropup-content {
  display: block;
}

//---------------------Colors-----------------
.bankos-text-green {
  color: #3fc17b;
  opacity: 0.8;
}
.bankos-text-red {
  color: #d80909;
  opacity: 0.8;
}
.bankos-text-blue {
  color: #0999d8;
  opacity: 0.8;
}
//-------------------------shapes-------------------
.bankos-circle {
  border-radius: 50%;
  padding: 14px 12px;
  border: 1px solid #e5e5e5;
}
//---------------------form DetailSection----------------
.bankos-form-detail-section {
  /*  max-height: 565px; */
  background: #ffffff !important;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  /* overflow-y: scroll; */
}
.bankos-form-detail-section::-webkit-scrollbar {
  display: none;
}

.bankos-form-detail-header {
  padding-top: 38px;
  padding-bottom: 38px;
  padding-left: 48px;
  background: rgba(232, 234, 235, 0.2);
  border-radius: 10px 10px 0px 0px;
  /*   position: sticky;
      top: 0px; */
}
.bankos-form-header-name {
  font-weight: 500;
  font-size: 24px;
  color: #343f43;
  padding: 14px 0px;
}
.bankos-form-row {
  padding: 38px 48px;
  font-size: 16px;
  line-height: 100%;
  color: #747779;
  border-bottom: 1px solid #e9eef3;
}
.bankos-form-inner-row-keys {
  font-size: 14px;
  color: #343f43;
  padding-bottom: 3px;
  opacity: 0.7;
}
.bankos-form-inner-row-value {
  font-size: 16px;
  font-weight: 500;
  color: #343f43;
  padding-bottom: 15px;
}
.bankos-input-field {
  margin-right: 18px;
  font-size: 14px;
  color: #343f43;
}

.bankos-checkbox-container {
  position: relative;
  padding-left: 34px;
  padding-top: 5px;
  font-size: 14px;
  color: #343f43;
}
/* Hide the browser's default checkbox */
.bankos-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  /*   opacity: 0.16; */
  border: 1px solid lightgray;
  box-sizing: border-box;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.bankos-checkbox-container:hover input ~ .checkmark {
  background-color: white;
}

/* When the checkbox is checked, add a blue background */
.bankos-checkbox-container input:checked ~ .checkmark {
  background-color: white;
  /*   border: 2px solid #0c89db; */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";

  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.bankos-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.bankos-checkbox-container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: 2px solid #0c89db;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.bankos-checkbox-container input:checked ~ .option-style {
  color: #0999d8;
}
.bankos-upload-button {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 280px;
  height: 193px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72));
  cursor: pointer;
  border-radius: 6px;
}
.bankos-upload-button-text {
  text-align: center;
  opacity: 0.8;
  font-size: 14px;
  color: #ffffff;
}
//-----------radio style-----------
.bankos-radio-container {
  display: block;
  position: relative;
  padding-left: 34px;
  padding-top: 2px;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 12px;
  color: #8b98a4;
  user-select: none;
}

/* Hide the browser's default radio button */
.bankos-radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #e8eaeb;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.bankos-radio-container:hover input ~ .checkmark-radio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.bankos-radio-container input:checked ~ .checkmark-radio {
  background-color: #fff;
  border: 2px solid #0c89db;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.bankos-radio-container input:checked ~ .checkmark-radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.bankos-radio-container .checkmark-radio:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #0c89db;
}
.bankos-radio-container input:checked ~ .option-style {
  color: #0c89db;
}
.bankos-form-button {
  border: 1px solid #e8eaeb;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
  font-weight: 300;
  font-size: 14px;
  color: #747779;
  cursor: pointer;
}
.bankos-form-button:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.04);
  color: #0999d8;
}
.bankos-no-bottom-border {
  border-bottom: 0px !important;
  margin-top: -108px;
}

//---------Search Popup---------
.bankos-popup-content .input {
  position: relative;
  width: 304px;
  height: 48px;
  border: 1px solid #e8eaeb;
  box-sizing: border-box;
  border-radius: 4px;
  outline-color: #e8eaeb;
  padding-left: 24px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 112%;
  color: #747779;
  margin-bottom: 10px;
}
.bankos-popup-content {
  // width: 304px;
  // height: 160px;
  background: #ffffff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 112%;
  color: #343f43;
}

//--------Message PopUp style-----

.bankos-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.bankos-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  width: 25%;
  position: relative;
  transition: all 5s ease-in-out;
}

.bankos-popup .close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.bankos-popup .bankos-popup-content {
  max-height: 30%;
  overflow: auto;
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  color: red;
}

.bankos-popup .bankos-popup-header {
  font-weight: 800;
  font-size: 20px;
  line-height: 112%;
  text-align: center;
  margin-top: 45px;
}
